<!-- views/partials/header.ejs -->

<!-- Sidebar -->
<div id="sidebar-wrapper">
    <ul class="sidebar-nav">
        <li class="sidebar-brand">
            <a href="/">
                <img src="/stylesheets/dclogo-2x.png" alt="logo" /> Dualcube
            </a>
        </li>
        <li>
            <a href="/" class="<% if(selectedMenu == 'dashboard'){ %> active-menu <% } %>"><i class="fa fa-tachometer" aria-hidden="true"></i> Dashboard</a>
        </li>
        <li>
            <a href="#" class="<% if(selectedMenu == 'items'){ %> active-menu <% } %>" onclick="return false;" id="nav-items" data-toggle="collapse" data-target="#submenu1" aria-expanded="false"><i class="fa fa-cube" aria-hidden="true"></i> Items</a>
            <ul class="nav collapse sub-nav <% if(selectedMenu == 'items'){ %> in <% } %>" id="submenu1" role="menu" aria-labelledby="nav-items">
                <li><a href="/items/"><i class="fa fa-cube" aria-hidden="true"></i> Items</a></li>
                <li><a href="/items/category"><i class="fa fa-sitemap" aria-hidden="true"></i> Item Category</a></li>
                <li><a href="/items/uom"><i class="fa fa-balance-scale" aria-hidden="true"></i> Unit Of Measurement</a></li>
                <li><a href="/items/contract"><i class="fa fa-money" aria-hidden="true"></i> Item Contract</a></li>
            </ul>
        </li>
        <li>
            <a href="/update-stock/" class="<% if(selectedMenu == 'update_stock'){ %> active-menu <% } %>"><i class="fa fa-server" aria-hidden="true"></i> Update Stock</a>
        </li>
        <li>
            <a href="/issue-items/" class="<% if(selectedMenu == 'issue_item'){ %> active-menu <% } %>"><i class="fa fa-building-o" aria-hidden="true"></i> Issue Items</a>
        </li>
        <li>
            <a href="/daily-report/" class="<% if(selectedMenu == 'daily-report'){ %> active-menu <% } %>"><i class="fa fa-cutlery" aria-hidden="true"></i> Daily Sales & Cost Report</a>
        </li>
        <li>
            <a href="/users/"><i class="fa fa-user-o" aria-hidden="true"></i> Users</a>
        </li>
        <li>
            <a href="/users/logout/"><i class="fa fa-sign-out" aria-hidden="true"></i> Logout</a>
        </li>
    </ul>
</div>
<!-- /#sidebar-wrapper -->

<!-- Admin bar -->
<div class="adminbar">
    <div class="toggle-icon-holder"><i class="fa fa-bars fa-2 menu-toggle" aria-hidden="true" id="menu-toggle"></i></div>
    <div class="user-holder">Hi, <%= locals.user.username %></div>
</div>
