<!DOCTYPE html>
<html>
<head>
  <title><%= title %></title>
  <% include ../layouts/head %>
  <style type="text/css">
    body{
      background-color: #EEEEEE;
    }
    .setup-container{
      background-color: white;
      margin-left: 400px;
      margin-right: 400px;
    }
    main{
      padding-top: 50px;
    }
  </style>
</head>
<body>
  <main class="container">
   <div class="row setup-container">
    <div class="col-sm-12">
      <p class="text-center">
        <img src="/stylesheets/dclogo-2x.png" class="" alt="Dualcube">
      </p>
      <hr>
      <form action="/users/login" method="post">
        <div class="form-group">
          <label for="username">Username</label>
          <input type="text" class="form-control" id="username" name="username" placeholder="Username">
        </div>
        <div class="form-group">
          <label for="password">Password</label>        
          <input type="password" class="form-control" id="password" name="password" placeholder="Password">
        </div>
        <div class="form-group">        
          <div class="text-right">
            <button type="submit" class="btn btn-primary">Login</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</main>
</body>
</html>
