.adminbar{
	height: 35px;
    /*position: fixed;*/
    top: 0;
    width: 100%;
    min-width: 600px;
    z-index: 99999;
    background: #000000;
    padding-left: 2px;
    padding-top: 1px;
}
.adminbar i.menu-toggle{
	left: 5px;
    color: white;
    top: 9px;
    cursor: pointer;
}
.adminbar div.toggle-icon-holder{
    font-size: 25px;
    position: absolute;
}
.user-holder{
    color: white;
    float: right;
    padding-top: 5px;
    padding-right: 10px;
}
.sub-nav>li>a{
    padding: 0px 15px !important;
}
.table-comtainer{
    margin-top: 50px;
}
.btn-close-error{
    cursor: pointer;
}
.table tbody tr td input{
    width: 100%;
}
.table-filter-container{
    padding: 0px;
}
.active-menu{
    color: #fff !important;
    background: rgba(255,255,255,0.2);
}

.date_string_name, .ic-prev, .ic-nxt{
    color: #aaa;
    font-size: 19px;
}
.ic-prev:hover, .ic-nxt:hover{
    color: black !important;
}
.ic-prev, .ic-nxt{
    cursor: pointer;
}
.date_string_name{
    padding: 20px;
}
