<!DOCTYPE html>
<html lang="en">

<head>
    <base href="/items/">
    <% include ../layouts/head %>
</head>

<body>

    <div id="wrapper">
        <% include ../layouts/header %>
        
        <!-- Page Content -->
        <div id="page-content-wrapper" ng-app="items">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-12">
                        <h1>Items <a ui-sref="app.addItem" class="btn btn-primary pull-right" ng-hide="addNew">Add New</a></h1>
                        <% if(errors){ %>
                        <% for(var i=0; i<errors.length; i++) { %>
                            <div class="alert alert-danger"><%= errors[i].msg %><i class="fa fa-times pull-right btn-close-error" aria-hidden="true"></i></div>
                        <% } %>
                        <% } %>
                        <div ui-view="content"></div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /#page-content-wrapper -->

    </div>
    <!-- /#wrapper -->

    <% include ../layouts/foot %>
    <script type="text/javascript" src="/bower_components/angular-ui-router/release/angular-ui-router.min.js"></script>
    <script type="text/javascript" src="/javascripts/items.js"></script>
</body>

</html>

